.english {
	background-color: #abc4ff;
}

.bindo {
	background-color: #ffb6c1;
}

.rpl {
	background-color: #adf7b6;
}

.agama {
	background-color: #bac0f8;
}

.pkn {
    background-color: #fff1e6;
}

.mtk {
	background-color: #eac4d5;
}

.desain-grafis {
	background-color: #d4c4af;
}

.pkkwu {
	background-color: #f8d28a;
}

.bali {
	background-color: rgb(62, 209, 214);
}

.p5 {
	background-color: #8efdf8;
}

.sejarah {
    background-color: #ffc09f
}